<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    {% load static %}
    <div class="container-fluid">
      <a  class="btn" data-bs-toggle="offcanvas" 
      href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><span> <img src="{% static 'img/widget-icon.png' %}" alt="logouyt" width="25px" height="25px"></span>
      </a> 
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title mt-0" id="offcanvasExampleLabel"> <img src="{% static 'img/staffinlogo.png' %}" alt="logouyt" width="160px" height="50px">  </h3>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    
        <div class="offcanvas-body">
        <div class="dropdown mt-2 d-grid gap-2">
         </div>
  
         <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
         <button type="button" class="tog btn btn-secondary dropdown-toggle text-start"  data-bs-toggle="dropdown" aria-expanded="false">
    <p class="tog1 fa fa-home"> Home ADMINISTRATOR</p>
  </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="forms.php">Scholar</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
    </ul>
  </div>
  </div>
  
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
  <button type="button" class="tog btn btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><i class="tog1 fa fa-user">
      company section</i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">add departmend    </a></li>
      <li><a class="dropdown-item" href="#">BDA</a></li>
      <li><a class="dropdown-item" href="#">Staff</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
    </ul>
  </div>
  </div>
  
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
    <button type="button"  class="tog btn btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><i class="tog1 fa fa-table">
      attendance</i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Call Back</a></li>
      <li><a class="dropdown-item" href="#">Calender</a></li>
      <li><a class="dropdown-item" href="#">BDA Team Set</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
    </ul>
  </div>
  </div>
  
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
    <button type="button"  class="btn tog  btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><b class="tog1 fa fa-layer-group">
      Status</b>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Inbox</a></li>
      <li><a class="dropdown-item" href="#">File Upload</a></li>
      <li><a class="dropdown-item" href="#">Rating</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
    </ul>
  </div>
  </div>
  
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
    <button type="button"  class="btn tog btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><i class="tog1 fa fa-inbox">
      approval</i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Complaints</a></li>
      <li><a class="dropdown-item" href="#">Inform Leave</a></li>
      <li><a class="dropdown-item" href="#">Mail</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
    </ul>
  </div>
  </div>
  
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
    <button type="button"   class="btn tog btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><i class="tog1 fa fa-briefcase">
      Work Details</i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Visitors</a></li>
      <li><a class="dropdown-item" href="#">Work Report</a></li>
      <li><a class="dropdown-item" href="#">Work Progress</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
    </ul>
  </div>
  </div>
  
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
    <button type="button"   class="btn tog btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><i class="tog1 fa fa-money-check">
   salary</i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">UPI</a></li>
      <li><a class="dropdown-item" href="#">Pending Approvals</a></li>
      <li><a class="dropdown-item" href="#">Received Payments</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
    </ul>
  </div>
  </div>
  
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
    <button type="button"  class="btn tog btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><i class="tog1 fa fa-money-check">
      salary status</i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">UPI</a></li>
      <li><a class="dropdown-item" href="#">Pending Approvals</a></li>
      <li><a class="dropdown-item" href="#">Received Payments</a></li>
      <li><a class="dropdown-item" href="#">Update Fees</a></li>
      <li><a class="dropdown-item" href="#">Work Details</a></li>
    </ul>
  </div>
  </div>
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
    <button type="button"  class="btn tog btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><i class="tog1 fa fa-money-check">
      salary aproval</i>
    </button>
    <ul class="dropdown-menu acc">
      <li><a class="dropdown-item" href="#">UPI</a></li>
      <li><a class="dropdown-item" href="#">Pending Approvals</a></li>
      <li><a class="dropdown-item" href="#">Received Payments</a></li>
  
    </ul>
  </div>
  </div>
  
  <div class="offcanvas-body">
         <div class="btn-group dropend mt-2 d-grid gap-2" style="position: absolute; right: 10px; width: 280px;">
    <button type="button"  class="btn tog btn-secondary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false"><i class="tog1 fa fa-money-check">
      pages</i>
    </button>
    <ul class="dropdown-menu acc">
      <li><a class="dropdown-item" href="forms.php">forms</a></li>
      
  
    </ul>
  </div>
  </div>
  
      </div>
      </div>
  
      
  
      &nbsp;&nbsp;&nbsp;&nbsp;
      <!--navbar-->
     &nbsp;
      <a class="navbar-brand" style="color:#004aad" href="#"><img src="{% static 'img/staffinlogo.png' %}" class="lo"></a><br>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="{% static 'img/menu.png' %}" alt="logouyt" width="30px" height="30px"> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                  <a class="nav-link " href="#" id="navbarDropdown1" role="button">
                      <i class="fa fa-home"></i> Home 
                  </a>
                 
          
              <li class="nav-item">
                  <a class="nav-link" href="#"><img src="{% static 'img/tester-icon.png' %}" alt="" width="20px" height="20px"></i>leave</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><img src="{% static 'img/salary.png' %}" alt="" width="20px" height="20px"></i>salary status</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-user"></i>profile</a>
              </li>
         <div class="btn-group dropdown">
          {% if request.session.username %}
    <button type="button" class="btn btn-secondary-outline dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Welcome - {{ request.session.username }}!
      {% endif %}
    </button>
    <ul class="dropdown-menu dropdown-menu-start">
      <li><a class="dropdown-item" href="{% url 'changepass' %}">Change Password</a></li>
      <li><a class="dropdown-item" href="{% url 'logout_view' %}">Logout</a></li>
    </ul>
  </div>
  
  </nav> 