{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Attendance</title>
    <Link  href="{% static 'img/icon.png' %}" alt="Attendance" rel="icon" >
    <link href="{% static 'css/data3.css' %}" rel="stylesheet" >
    <script src="{% static 'js/new.js' %}"></script>
    <script src="{% static 'js/sweetalert2v11.js' %}"></script>
    <script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'popper/popper.js' %}"></script>
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

<!--fontawsm-->
<link href="{% static 'font/css/all.css' %}" rel="stylesheet">
<link href="{% static 'style.css' %}" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!-- Include Swal library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="{% static 'js/html2pdf.bundle.js' %}"></script>
<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="{% static 'js/swal_alert_new.js' %}"></script>





