{% extends 'common_header.html' %}
{% load static %}
{% block content %}
{% include 'header_emp.html' %}

<style>
    body {
          background-image: url('{% static "img/logbg2.png" %}');
          min-height: 70vh;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        


.box{
    box-shadow: 0 0 10px rgba(31, 32, 32, 0.4);  
    border: 1px solid #b6afaf; 
    
}
/* input{
    box-shadow: 0 0 10px rgba(44, 46, 46, 0.1);
    padding: 2%;  
} */
.tab{
    background-color: #005c99;
    box-shadow: 0 0 10px rgba(31, 32, 32, 0.3); 
    text-align: center;
    color: white;
}
.ttbody{
   background-color: #e6f5ff;
   box-shadow: 0 0 10px rgba(31, 32, 32, 0.3); 
   border: 1px solid rgb(207, 207, 207);
   text-align: center;
}
td {
    box-shadow: 0 0 10px rgba(31, 32, 32, 0.3); 
      
}
.tdtop{
    color: rgb(0, 42, 255);
    font-size: 15px;
    font-weight: 600;
    font-family: calibri;
}

.con{
    border: 1px solid rgb(131, 192, 212);
    padding: 30px;
    background-color: #eaf3f5;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(31, 32, 32, 0.3); 
    
}
label{
    font-weight: bolder;
}


    
    .status-approved {
    color: green;
    text-transform: uppercase;
}

.status-pending {
    color: red;
    text-transform: uppercase;
}

.status-hold {
    color: rgb(15, 76, 146); /* or any other color for "hold" status */
    text-transform: uppercase;
}

.buttonhead {
  margin: 100px 0 20px 500px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
@media screen and (max-width:999px) {
    .buttonhead {
  margin: 100px 0 20px 350px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.buttonhead {
  --border-right: 2px;
  --text-stroke-color: #38696d;
  --animation-color: #38696d;
  --fs-size: 1em;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-size: 10px;
  font-family: "calibri";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
}
input[type="search"] {
            padding: 8px;
            border: 1px solid #35acb4;
            border-radius: 7px;
            outline: none;
            width: 25%; /* Set the width as needed */
            box-sizing: border-box;
            margin-left: 3%;
           
        }
@media screen and (max-width:699px) {
    .buttonhead {
  margin: 100px 0 20px 200px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.buttonhead {
  --border-right: 2px;
  --text-stroke-color: #38696d;
  --animation-color: #38696d;
  --fs-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 10px;
  font-family: "calibri";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
}
/* button styling */
.buttonhead {
  --border-right: 2px;
  font-weight: 800;

  --fs-size: 2em;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "calibri";
  position: relative;
  text-transform: uppercase;
  color: 38696d;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* hover */
.buttonhead:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.custom-input {
        border: 1px solid rgb(131, 192, 212);
        /* Add any additional styling here */
    }
    /* button head */

.buttonhead {
    margin: 5.5% 0 0% 35%;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
@media screen and (max-width:999px) {
    .buttonhead {
  margin: 100px 0 20px 350px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.buttonhead {
  --border-right: 2px;
  --text-stroke-color: #38696d;
  --animation-color: #38696d;
  --fs-size: 1em;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-size: 10px;
  font-family: "calibri";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
}
input[type="search"] {
            padding: 8px;
            border: 1px solid #35acb4;
            border-radius: 7px;
            outline: none;
            width: 25%; /* Set the width as needed */
            box-sizing: border-box;
            margin-left: 3%;
           
        }
@media screen and (max-width:699px) {
    .buttonhead {
  margin: 100px 0 20px 200px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.buttonhead {
  --border-right: 2px;
  --text-stroke-color: #38696d;
  --animation-color: #38696d;
  --fs-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 10px;
  font-family: "calibri";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
}
/* button styling */
.buttonhead {
  --border-right: 2px;
  font-weight: 800;

  --fs-size: 1.8em;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "calibri";
  position: relative;
  text-transform: uppercase;
  color: #1a49a1;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* hover */
.buttonhead:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

        /* Style for the popup */
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1059;  
           width: 60%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        }

        /* Style for the overlay background */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        
/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
   

</style>


<body  class="w-100 container-fluid">
  <div class="col-md-12  col-12 mb-3 " style="margin-top: 30px;">
    <button class="buttonhead col-4" data-text="Awesome">
        <span class="actual-text">&nbsp;Work From Home Status&nbsp;</span>
    </button>
</div>
  <div class="col-md-12 d-flex" style="height: 50px;">

    <!-- <div><span  style="font-family: calibri;color:#38696d;font-size: 24px;font-weight: bold;">Search&nbsp;</span></div>   -->
    <h5 style="color: #2056a5; font-weight: 600;" class="m-2">Work From Home Reports</h5>
    <div><input type="text" class="searchbox form-control" autofocus id="search" name="search" placeholder="Search Table">
</div>


<script>
  $(document).ready(function () {
      // Function to perform search
      $("#search").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#tableBody tr").filter(function () {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
      });
  });
</script>
    <!-- <input type="hidden" name="csrfmiddlewaretoken"> -->

    <input type="hidden" name="csrfmiddlewaretoken" value="your_csrf_token_value_here"> 

</div>
<div class="col-md-12 ">
  <table class="table table-bordered bg-light col-md-12 mt-1" >
      <tr style="height: 40px;background-color: #38696d; color: #ffff;">
          <th>SL.NO</th>
          <th>EMP.ID</th>
          <th>EMP.Name</th>
          <th>WFH From</th>
          <th>WFH To</th>
          <th>View</th>
          <th>Status</th>
          <th>Cancel</th>

      </tr>
      {% if fetch_data %}
      {% for data in fetch_data %}
      <tbody id="tableBody">
          <tr>
            <td>{{ forloop.counter }}</td>
              <td>{{ data.emp_id }}</td>
              <td>{{ data.emp_nm }}</td>
              <td>{{ data.wfh_start_dt }}</td>
              <td>{{ data.wfh_end_dt }}</td>
              
             
              <td>
                <a href="#" onclick="showPopup(
                  '{{ data.req_dt }}',
                  '{{ data.emp_dept }}',
                  '{{ data.emp_id }}',
                  '{{ data.emp_nm }}',
                  '{{ data.wfh_start_dt }}',
                  '{{ data.wfh_end_dt }}',
                  '{{ data.monst }}',
                  '{{ data.moned }}',
                  '{{ data.tuest }}',
                  '{{ data.tueed }}',
                  '{{ data.wedst }}',
                  '{{ data.weded }}',
                  '{{ data.thust }}',
                  '{{ data.thued }}',
                  '{{ data.frist }}',
                  '{{ data.fried }}',
                  '{{ data.satst }}',
                  '{{ data.sated }}',
                  '{{ data.sunst }}',
                  '{{ data.suned }}',
                  '{{ data.resn }}',
                  '{{ data.sup_nm }}',
                  '{{ data.app_status }}'
              )">
  <img src="{% static 'img/show.png' %}" width="20px" height="20px" alt="">
</a>
              </td>
              <td>
                {% if data.app_status == '0' %}
                    <span style="color: red; font-weight: bold;">Pending</span>
                {% elif data.app_status == '1' %}
                    <span style="color: green; font-weight: bold">Approved</span>
                {% endif %}
            </td>
            

            <td>
              {% if data.app_status != '1' %}
                  <button class="btn" onclick="deleteRecord('{{ data.id }}')">
                      <img src="{% static 'img/delete.png' %}" width="20px" height="20px" alt="">
                  </button>
              {% endif %}
          </td>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          
    
          </tr>
        </tbody>
      {% endfor %}
  {% else %}
      <p style="color: red; ">No Data Available...</p>
  {% endif %}

      </table>
</div><!-- Popup content -->

<script>
   function deleteRecord(id) {
          Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.isConfirmed) {
              // User clicked Yes, send an AJAX request to delete the item
              fetch('/delete_wfh/' + id + '/', {
                method: 'POST',
                headers: {
                  'X-CSRFToken': getCookie('csrftoken'),
                },
              }).then(response => {
                if (response.ok) {
                  return response.json();
                }
                throw new Error('Failed to delete');
              }).then(data => {
                // Handle success, e.g., remove the row from the table
                Swal.fire('Deleted!', 'Your data has been deleted.', 'success').then(() => {
                  // redirectTo('/wfh_status/');  // Redirect to the trainee_view page
                  location.reload();
                });
              }).catch(error => {
                // Handle error
                console.error(error);
                Swal.fire('Error', 'Failed to delete the record.', 'error');
              });
            } else {
              // User clicked Cancel or outside the dialog
              Swal.fire('Cancelled', 'Your data is safe.', 'info');
              // redirectTo('/wfh_status/');  // Redirect to the trainee_view page
              // location.reload();
            }
          });
        }

        const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;


        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
</script>
<div id="popup" class="popup">
    <!-- Add your popup content here -->
    <!-- <p>This is the popup content.</p> -->
    <button class="float-end btn-danger" onclick="hidePopup()">X</button><br><br>
    <div class="row">
      <table style="border-radius: 5px;" class="table table-bordered con">
          <tr class="tdtop">
              <td>Request Date : <i id="req_dt" class="text-dark"></i></td>
              <td>Department : <i id="emp_dept" class="text-dark"></i> </td>
          </tr>
          <tr class="tdtop">
              <td>Employee ID : <i id="emp_id" class="text-dark"></i></td>
              <td>Employee Name :  <i id="emp_nm" class="text-dark"></i></td>
          </tr>
          <tr class="tdtop">
              <td>Work From Home Start :<i id="wfh_start_dt" class="text-dark"></i></td>
              <td>Work From Home End :<i id="wfh_end_dt" class="text-dark"></i> </td>
          </tr>
      </table>
  </div>

  <div class="row">
    <center>
        <h4 style="color: #38696d;">PROPOSED SCHEDULE DETAILS </h4>
</center>
</div>  
<div class="container con">
   
       <table class="table table-bordered ">
        <thead style=" background-color:#38696d; color: #ffff;">
            <th>DAY</th>
            <th>START TIME</th>
            <th>END TIME</th>
        </thead>
        <tbody>
            <tr>
            <td>Monday</td>
            <td id="monst"></td>
            <td id="moned"></td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td id="tuest"></td>
            <td id="tueed"></td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td id="wedst"></td>
            <td id="weded"></td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td id="thust"></td>
            <td id="thued"></td>
        </tr>
        <tr>
            <td>Friday</td>
            <td id="frist"></td>
            <td id="fried"></td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td id="satst"></td>
            <td id="sated"></td>
        </tr> <tr>
            <td>Sunday</td>
            <td id="sunst"></td>
            <td id="suned"></td>
        </tr>
        </tbody>
       </table>
  
   
</div>
<div class="row col-lg-12 m-3">
  <div class="col-lg-7">
<h5 class="tdtop">Purpose/Reason For Working at Home</h5>
<p id="resn"></p>
  </div>
  <div class="col-lg-5" >
    <h5 class="tdtop">Supervisor Name</h5>
    <p id="sup_nm"></p>
  </div>
</div>
<div class="row col-lg-12">
  <div class="d-flex">
  <input type="checkbox" class="ui-checkbox m-1" checked><p ><b id="emp_name">I VIJAYTHUL RAHMAN</b> hearby accept the terms & Conditions of work from home policy.</p>
</div>
<div>
  <ol style="zoom: 0.8;">
    <li>CL cannot availed During WFH.</li>
    <li>IP Portal & Slack should be online.</li>
    <li>Respond to the Calls/Email/Messages.if Not Respond Within 10 Minutes the Management Cancel the WFH Without Prior Notice.</li>
  </ol>
</div>
</div>
</div>

<!-- Overlay background -->
<div id="overlay" class="overlay" onclick="hidePopup()"></div>

<script>
    // Function to show the popup
    function showPopup(req_dt, emp_dept, emp_id, emp_nm, wfh_start_dt, wfh_end_dt, monst, moned, tuest, tueed, wedst, weded, thust, thued, frist, fried, satst, sated, sunst, suned, resn, sup_nm, app_status) {

    document.getElementById('popup').style.display = 'block';

    document.getElementById('req_dt').innerHTML = req_dt;
        document.getElementById('emp_dept').innerHTML = emp_dept;
        document.getElementById('emp_id').innerHTML = emp_id;
        document.getElementById('emp_nm').innerHTML = emp_nm;
        document.getElementById('emp_name').innerHTML = emp_nm;
        document.getElementById('wfh_start_dt').innerHTML = wfh_start_dt;
        document.getElementById('wfh_end_dt').innerHTML = wfh_end_dt;
        document.getElementById('monst').innerHTML = monst;
        document.getElementById('moned').innerHTML = moned;
        document.getElementById('tuest').innerHTML = tuest;
        document.getElementById('tueed').innerHTML = tueed;
        document.getElementById('wedst').innerHTML = wedst;
        document.getElementById('weded').innerHTML = weded;
        document.getElementById('thust').innerHTML = thust;
        document.getElementById('thued').innerHTML = thued;
        document.getElementById('frist').innerHTML = frist;
        document.getElementById('fried').innerHTML = fried;
        document.getElementById('satst').innerHTML = satst;
        document.getElementById('sated').innerHTML = sated;
        document.getElementById('sunst').innerHTML = sunst;
        document.getElementById('suned').innerHTML = suned;
        document.getElementById('resn').innerHTML = resn;
        document.getElementById('sup_nm').innerHTML = sup_nm;
        document.getElementById('app_status').innerHTML = app_status;

        console.log("fgrger",sup_nm)

    document.getElementById('overlay').style.display = 'block';
}


    // Function to hide the popup
    function hidePopup() {
        document.getElementById('popup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }
</script>
<script>
  var lilota = document.getElementById("lolita");
var lilotaoff = document.getElementById("lolitaoff");
var offcanvas = document.getElementById("offcanvasExample");
var navigation1 = document.getElementById("navigation");


// Function to set dark mode based on the value stored in localStorage
function setDarkModeFromStorage() {
var element = document.body;
var storedDarkMode = localStorage.getItem('darkMode');
var toggleDarkModeButton = document.getElementById('toggleDarkModeButton');

if (storedDarkMode === 'true') {
  element.classList.add('dark-mode');
  toggleDarkModeButton.checked = true;
  applyDarkModeStyles();
} else {
  element.classList.remove('dark-mode');
  toggleDarkModeButton.checked = false;
  removeDarkModeStyles();
}
}

// Function to apply dark mode styles
function applyDarkModeStyles() {
lolita.src = "{% static 'img/staffinlogooff_drk.png' %}";
lolitaoff.src = "{% static 'img/staffinlogooff_drk.png' %}";
offcanvas.classList.add("offcanvasdrk");
navigation1.classList.add("navbardrk");

}

// Function to remove dark mode styles
function removeDarkModeStyles() {
lolita.src = "{% static 'img/staffinlogooff.png' %}";
lolitaoff.src = "{% static 'img/staffinlogooff.png' %}";
offcanvas.classList.remove("offcanvasdrk");
navigation1.classList.remove("navbardrk");

}

// Function to toggle dark mode and store the state in localStorage
function toggleDarkMode() {
var element = document.body;
element.classList.toggle('dark-mode');
  
if (element.classList.contains("dark-mode")) {
  applyDarkModeStyles();
} else {
  removeDarkModeStyles();
}

// Store the current dark mode state in localStorage
var isDarkMode = element.classList.contains('dark-mode');
localStorage.setItem('darkMode', isDarkMode.toString());
}

// Call the function to set dark mode on page load
setDarkModeFromStorage();
</script>
</body>
<!-- {% include 'footer.html' %} -->
{% endblock %}